# **Central Jakarta**

Central Jakarta is the center of life for entire Jakarta. One of the most popular district is SCBD (Sudirman Center Business District) where all the business is started. If you heard about Pacific Place then the place is there. 

Besides, Menteng, Thamrin (Grand Indonesia), and Cempaka Putih also famous for its high end lifestyle. So some burgers are served in proper restaurant. Even though there are also bunch of cheap burger which lower than IDR 50000.

# Content

* [District](#District)
* [Price-Range](#Price-Range)
* [Facility](#Facility)

# District

Before we begin, we need to import all of those.

In [92]:
import pandas as pd
from pandasql import sqldf
burger = pd.read_csv('../input/burger-central/central_jakarta.csv', sep = ";")

Then we can input all the district here.

In [51]:
partlor_name = sqldf("SELECT DISTINCT district FROM burger").transpose()
partlor_name

,0,1,2,3,4,5,6,7,8,9,10
District,Thamrin,Tanah Abang,Bendungan Hilir,Sudirman,Hayam Wuruk,Senen,Cempaka Putih,Menteng,SCBD,Karet,Pecenongan

As we can see, there are 10 districts in Central Jakarta. Bendungan Hilir, Karet, and Tanah Abang is actually one region with Thamrin as the area are not so far from each other. Meanwhile Menteng is closer to Pecenongan, the furthest is Hayam Wuruk.

Then here is all the details of burger restaurant/partlors.

In [52]:
burger = sqldf("SELECT no, partlor_name, District, unique_menu, price FROM burger")
burger.style.hide_index()

# Price-Range

Starting with price, we sort the list from the most expensive and also the cheapest, also with the price range from IDR 50000 to 100000. Here is the order from the most expensive.

In [53]:
#most expensive
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger ORDER BY price DESC")
burger_price.head().style.hide_index()

In [54]:
#cheapest
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger ORDER BY price")
burger_price.head().style.hide_index()

Then here is the price range I mentioned earlier.

In [55]:
#more than IDR 100000
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger WHERE price >= 100000")
burger_price.style.hide_index()

In [56]:
#between 50000 to 100000
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger WHERE price BETWEEN 50000 AND 100000")
burger_price.style.hide_index()

In [57]:
#below IDR 100000
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger WHERE price <= 50000")
burger_price.style.hide_index()

# Facility

Last but not least, we chose the restaurant whether we could takeaway, or deliver our food. We also could find out whether these partlor has outdoor seats, smoking room, wifi, and reservation. Last but not least, we researched about poultry with some dietary restriction like alcohol and halal_menu. But this halal menu will not available in other project. We changed to other_poultry instead. 

Let's take a look for all the facility

In [93]:
burger = sqldf("SELECT no, partlor_name, district, takeaway, delivery, outdoor_seat, smoking_area, alcohol_served, wifi, reservation, drive_thru, halal_food FROM burger")
burger.style.hide_index()

Let's take a look for each one of those.

In [94]:
#takeaway
takeaway = sqldf("SELECT partlor_name, district, takeaway FROM burger WHERE takeaway = 'yes'")
takeaway.style.hide_index()

In [95]:
takeaway.count()

partlor_name    24
District        24
takeaway        24
dtype: int64

In [96]:
#delivery
delivery = sqldf("SELECT partlor_name, district, delivery FROM burger WHERE delivery = 'yes'")
delivery.style.hide_index()

In [97]:
delivery.count()

partlor_name    15
District        15
delivery        15
dtype: int64

In [98]:
#outdoor_seat
outdoor_seat = sqldf("SELECT partlor_name, district, outdoor_seat FROM burger WHERE outdoor_seat = 'yes'")
outdoor_seat.style.hide_index()

In [99]:
outdoor_seat.count()

partlor_name    12
District        12
outdoor_seat    12
dtype: int64

In [100]:
#smoking_area
smoking_area = sqldf("SELECT partlor_name, district, smoking_area FROM burger WHERE smoking_area = 'yes'")
smoking_area.style.hide_index()

In [101]:
smoking_area.count()

partlor_name    16
District        16
smoking_area    16
dtype: int64

In [102]:
#alcohol
alcohol = sqldf("SELECT partlor_name, district, alcohol_served FROM burger WHERE alcohol_served = 'yes'")
alcohol.style.hide_index()

In [103]:
alcohol.count()

partlor_name      5
District          5
alcohol_served    5
dtype: int64

In [104]:
#wifi
wifi = sqldf("SELECT partlor_name, district, wifi FROM burger WHERE wifi = 'yes'")
wifi.style.hide_index()

In [105]:
wifi.count()

partlor_name    14
District        14
wifi            14
dtype: int64

In [106]:
#reservation needed
reservation = sqldf("SELECT partlor_name, district, reservation FROM burger WHERE reservation = 'yes'")
reservation.style.hide_index()

In [107]:
reservation.count()

partlor_name    7
District        7
reservation     7
dtype: int64

In [108]:
#drive thru
drive_thru = sqldf("SELECT partlor_name, district, drive_thru FROM burger WHERE drive_thru = 'yes'")
drive_thru.style.hide_index()

In [109]:
drive_thru.count()

partlor_name    1
District        1
drive_thru      1
dtype: int64

In [110]:
#dietary restricted
halal_food = sqldf("SELECT partlor_name, district, halal_food FROM burger WHERE halal_food = 'no'")
halal_food.style.hide_index()

In [111]:
halal_food.count()

partlor_name    3
District        3
halal_food      3
dtype: int64

That's all for this time. For rating, I count it separately on different file. Temporarily.