# **Central Jakarta**

Central Jakarta is the center of life for entire Jakarta. One of the most popular district is SCBD (Sudirman Center Business District) where all the business is started. If you heard about Pacific Place then the place is there. 

Besides, Menteng, Thamrin (Grand Indonesia), and Cempaka Putih also famous for its high end lifestyle. So some burgers are served in proper restaurant. Even though there are also bunch of cheap burger which lower than IDR 50000.

# Content

* District
* Price Range
* Facility
* Rating

In [13]:
import pandas as pd
from pandasql import sqldf
burger = pd.read_csv('../input/burger-central/central_jakarta.csv', sep = ";")

# District

In [2]:
partlor_name = sqldf("SELECT DISTINCT district FROM burger").transpose()
partlor_name

,0,1,2,3,4,5,6,7,8,9,10
District,Thamrin,Tanah Abang,Bendungan Hilir,Sudirman,Hayam Wuruk,Senen,Cempaka Putih,Menteng,SCBD,Karet,Pecenongan

As we can see, there are 10 districts in Central Jakarta. Bendungan Hilir, Karet, and Tanah Abang is actually one region with Thamrin as the area are not so far from each other. Meanwhile Menteng is closer to Pecenongan, the furthest is Hayam Wuruk.

Then here is all the details of burger restaurant/partlors. There are some high end restaurant but the budget and fast food are also available as well.

In [3]:
burger = sqldf("SELECT no, partlor_name, District, unique_menu, price FROM burger")
burger.style.hide_index()

# Price-Range

We sorted the list from the most expensive and also the cheapest, also with the price range from IDR 50000 to 100000. Here is the order from the most expensive. The most expensive here is Hard Rock Cafe which needed at least 200k per menu, and the cheapest is Lemoe Burger with their Chicken Cabe Ijo burger, priced only for 14k.

Most of them are budged below 100k per menu.

In [4]:
#most expensive
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger ORDER BY price DESC")
burger_price.head().style.hide_index()

In [5]:
#cheapest
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger ORDER BY price")
burger_price.head().style.hide_index()

Then here is the price range I mentioned earlier.

In [6]:
#more than IDR 100000
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger WHERE price >= 100000")
burger_price.style.hide_index()

In [7]:
#between 50000 to 100000
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger WHERE price BETWEEN 50000 AND 100000")
burger_price.style.hide_index()

In [8]:
#below IDR 50000
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger WHERE price <= 50000")
burger_price.style.hide_index()

# Facility

Last but not least, we chose the restaurant whether we could takeaway, or deliver our food. We also could find out whether these partlor has outdoor seats, smoking room, wifi, and reservation. Last but not least, we researched about poultry with some dietary restriction like alcohol and halal_menu. But this halal menu will not available in other project. We changed to other_poultry instead. 

We can take our burger home as takeaway and delivery options are massive here. They also got some outdoor seat and smoking area for any purpose, not to mention the wifi is also on high use. Some of places needs or able to do reservation as listed below, some also got some alcohol menu and there are three vendors which contained non-halal menu.

No drive thru available except for Burger King Cempaka Putih.

Let's take a look for all the facility.

In [12]:
burger = sqldf("SELECT no, partlor_name, district, takeaway, delivery, outdoor_seat, smoking_area,\
alcohol_served, wifi, reservation, drive_thru, halal_food FROM burger")
burger.style.hide_index()

# Rating

I'll calculate and decide which are recommended on the other file but here is the glimpse. We can see which vendor has the highest rating available. For this time I order this list by google_rating as it appeared first.

In [14]:
rating = sqldf("SELECT partlor_name, district, ltrim(google_rating) as google_rating,\
ltrim(zomato_rating) as zomato_rating, ltrim(qraved_rating) as qraved_rating,\
google_count, zomato_count, qraved_count FROM burger ORDER BY google_rating DESC")
rating.style.hide_index()