# Singaporean Food in Indonesia Phrase I : Greater Jakarta Area

Singaporean Food in Indonesia is a project inspired by a Singaporean content creator whom looking for Singaporean restaurant in Indonesia. For this notebook I'll show you list of Singaporean restaurant in Jakarta, located in various city like Jakarta itself, Tangerang, Bogor, and Bekasi.

Here is the list curated from Google Maps and various platform website. This time I'll be using Zomato for the source.

Originally there are 101 restaurants selected all around Indonesia, which 38 of them are located in Jakarta. Note that the list here is not always the authentic one. There are coffee shop named Kopitiam and Chinese restaurant which has Singaporean food but never claimed themselves as Singaporean restaurant. At least they got kaya toast, hainanse rice, laksa, chili crab and etc, will explain more on menu.

In [88]:
from pandasql import sqldf
import pandas as pd
singapore = pd.read_csv("../input/singapore-food/singapore_id.csv", sep = ";")

In [61]:
singapore = sqldf("""SELECT no, restaurant_name, region, city, unique_menu, price, google_rating, platform_rating 
FROM singapore 
WHERE region = 'DKI Jakarta' OR city = 'Bekasi' OR city = 'Tangerang' OR city = 'Bogor'""")
singapore.style.hide_index()

# Menu

Singapore is famous for their Laksa as also most mentioned here in this list. Besides, they are also famous for their toast-- kaya toast especially, and hainanse rice. Their noodles are their most mainstream here as their food is kind of fusion with Chinese cuisine, like mee goreng, wonton noodle, and kway teow. Curry noodle and bakuteh are underrated but that's the real signature here. Not to mention their seafood is also well known-- chili crab for example.

I'll divide those menu on three category, which is Rice & Noodle Menu, Poultry Menu, and Toast & Snack Menu.

**Rice & Noodle**

Here is their rice and noodle menu. For the rice they mostly have hainanse rice, fried rice, and nasi lemak. Plate rice is rice with side dish on a plate-- it could be anything. They also have porridge as well. For noodle they mostly have laksa, mee goreng, curry noodle, and wonton noodle. There are also mee shua, mee siam, ifumie (crispy noodle), chop noodle, hokkien mee, and noodle soup.

For disambiguation (next time you look for the menu), mee is mie/noodle, fried rice is nasi goreng, kway teow is kwetiaw, beehoon is bihun, and hainanse rice is nasi hainam. Bakmi ayam is quite similar with wonton noodle but it's different after all.

In [66]:
singapore  = sqldf("""SELECT restaurant_name, city, rice_menu, noodle, noodle_specific
FROM singapore
WHERE region = 'DKI Jakarta' OR city = 'Bekasi' OR city = 'Tangerang' OR city = 'Bogor'""")
singapore

,restaurant_name,city,rice_menu,noodle,noodle_specific
0,Penang Bistro,Central Jakarta,"hainanse rice, fried rice, lemak","beehoon, kway teow, noodle","mee goreng, prawn mee, mee shua, laksa, hokkie..."
1,Lau Lim Mee Pok,North Jakarta,fried rice,"kway teow, noodle","mee goreng, mee pok"
2,Wancan Golden Plaza,South Jakarta,"hainanse rice, fried rice",no,no
3,Salty Sam Mall of Indonesia,North Jakarta,yes,no,no
4,Singapore Koo Kee Restaurant,North Jakarta,"fried rice, nasi lemak, rice plate, hainanse r...","noodle, beehoon","curry noodle, laksa, dry noodle"
5,Walao Eh,Tangerang,"porridge, nasi lemak, hainanse chicken, fried ...","noodle, kway teow",laksa
6,Old Chang Kee Gandaria City,Central Jakarta,no,no,no
7,Ming Fa,Central Jakarta,plate rice,noodle,"bak chor mee, miniwok"
8,Ya Kun Kaya Toast Menteng,Central Jakarta,"nasi lemak, rice plate",noodle,"laksa, mee siam"
9,Toast Box,South Jakarta,"chicken rice, nasi lemak","beehoon, noodle","laksa, mee siam, mee rebus, chop noodle"
10,Lotus Mie Udang Singapore,North Jakarta,"fried rice, rice plate","kway teow, noodle, beehoon","mee goreng, prawn mee"
11,Jia Jia Grand Indonesia,Central Jakarta,"fried rice, hainanse rice, rice plate, porridge","noodle, kway teow","dry noodle, wonton noodle"
12,Lay Lay Singapore,Central Jakarta,"hainanse rice, fried rice, rice plate",no,no
13,Singapore Hainanse Chicken Neo SOHO,West Jakarta,"fried rice, hainanse rice, porridge, rice plate","noodle, kway teow","mee goreng, wonton noodle, roast chicken noodle"
14,Ya Kun Kaya Toast Plaza Indonesia,Central Jakarta,"nasi lemak, rice plate",noodle,"laksa, mee siam"
15,Hawker,Tangerang,rice bowl,no,no
16,Xi De Li,Tangerang,no,no,no
17,Singapore Hainanse Chicken Senayan City,Central Jakarta,"fried rice, hainanse rice, porridge, rice plate","noodle, kway teow","mee goreng, wonton noodle, roast chicken noodle"
18,Singapore Restaurant,North Jakarta,fried rice,"noodle, kway teow, beehoon",mee goreng
19,Lau Mok Kopitiam,West Jakarta,rice plate,"beehoon, noodle",indomie
20,"SEI EAT by Saltedegg,Ind",Tangerang,"fried rice, chicken rice, rice plate",noodle,korean noodle
21,Bubur Singapore,Bekasi,"fried rice, porridge, rice plate",no,no
22,Tjap Toean Soekarno Hatta Airport,Tangerang,"porridge, fried rice, rice plate","noodle, kway teow, beehoon","mee goreng, noodle soup, laksa, hokkien mie, i..."
23,PUTIEN PIK Avenue Mall,North Jakarta,porridge,"beehoon, vermicelli, noodle","lor mee, mee shua"
24,Legend Kitchen,North Jakarta,"rice platter, hainanse rice","noodle, beehoon",curry noodle
25,Singapore Kwetiaw Kerang & Seafood,North Jakarta,fried rice,"noodle, kway teow, beehoon",mee goreng
26,Yong Tau Fu Grand Indonesia,Central Jakarta,yes,yes,no
27,Bubur Hopeng,Tangerang,"porridge, hainanse rice, fried rice","beehoon, noodle",mee goreng
28,Wee Nam Kee Pacific Place,Central Jakarta,"hainanse rice, fragant rice, fried rice","kway teow, noodle, beehoon",hokkien mee
29,Bangi Kopitiam Kemang Pratama,Bekasi,"hainanse rice, rice bowl, rice plate, fried rice","noodle, kway teow","curry noodle, prawn noodle, noodle soup, pad t..."
30,Bangi Kopitiam Pasar Minggu,South Jakarta,"hainanse rice, rice bowl, rice plate, fried rice","noodle, kway teow","curry noodle, prawn noodle, noodle soup, pad t..."
31,Bangi Kopitiam Kelapa Gading,North Jakarta,"hainanse rice, rice bowl, rice plate, fried rice","noodle, kway teow","curry noodle, prawn noodle, noodle soup, pad t..."
32,Singapore Koo Kee Restaurant Kelapa Gading,North Jakarta,"fried rice, nasi lemak, rice plate, hainanse r...",beehoon,laksa
33,Uncle K Cijantung Mall,East Jakarta,"nasi lemak, fried rice, hainanse rice","noodle, kway teow, pasta","laksa, hokkien mie, prawn noodle, mee goreng, ..."
34,Warung Mie Laksa 828 Khas Singapore,Bogor,no,noodle,laksa
35,Ngohiang Khas Bogor Asli Gang Aut,Bogor,"hainanse rice, rice plate",no,no
36,Sagoo Kitchen Botani Square,Bogor,rice plate,"noodle, kway teow, beehoon","mee goreng, ifumie"
37,Lemongrass Resto,Bogor,"hainanse rice, nasi lemak, fried rice, porridge","noodle, kway teow, beehoon","mie pedas, ifumie, mee goreng, hokkien/hongkon..."

**Poultry Menu**

Here is all the meat menu, mostly chicken. I wrote the cooking method and sauce for chicken, mostly fried and the sauce is mainly dominated by sweet sour and kungpau, longed with blackpapper and teriyaki.

The seafood are usually on high end or family restaurant, mostly crab, prawn, and fish. There are several places which serving pork and duck menu. For plant based they also have tofu and vegatables menu. Output labeled 'yes' means that they have those menu but just as a topping/out of the menu, except pork for dietary restrictions.

Speaking about pork, there is a menu named bakuteh, one of the Singaporean delicates. Restaurant serving this is Legend Kitchen (Muara Karang, North Jakarta City). For the chili crab you can find it at Penang Bistro (Central Jakarta) and PUTIEN PIK (North Jakarta).

In [75]:
singapore  = sqldf("""SELECT restaurant_name, city, chicken, seafood, poultry_other
FROM singapore
WHERE region = 'DKI Jakarta' OR city = 'Bekasi' OR city = 'Tangerang' OR city = 'Bogor'""")
singapore.style.hide_index()

**Toast & Snack Menu**

Toast is also one of Singaporean delicacy --for exact is kaya which most mentioned here. The other popular toast menu are peanut, butter, chocolate, and cheese. If you visit Bangi Kopitiam, there is a distinct menu which is melaka portugese toast, the toast is kind of chocolatey things. Like this one.

Snack dish is the other light (or could be appetizer) menu on the list available. There are dimsum (shumai, hakau, mantau, cakwe etc), spring roll, banana fritter, fries (french fries, cassava) and many more.

In this section, toast and snack are listed separately.

In [78]:
singapore  = sqldf("""SELECT restaurant_name, city, toast
FROM singapore
WHERE region = 'DKI Jakarta' OR city = 'Bekasi' OR city = 'Tangerang' OR city = 'Bogor'""")
singapore.style.hide_index()

In [81]:
singapore  = sqldf("""SELECT restaurant_name, city, snack_dish
FROM singapore
WHERE region = 'DKI Jakarta' OR city = 'Bekasi' OR city = 'Tangerang' OR city = 'Bogor'""")
singapore.style.hide_index()

# Facility

All restaurants are providing their takeaway options, meanwhile only half of them has delivery options. Outdoor and smoking area are almost rare, only Bangi Kopitiam Pasar Minggu has both of them. Beer is the most available options eventhough alcohol drinks are rarely served in this area. And wifi is ravedly available.

In [83]:
singapore  = sqldf("""SELECT restaurant_name, city, takeaway, delivery, outdoor_seat, smoking_area, alcohol_served, wifi
FROM singapore
WHERE region = 'DKI Jakarta' OR city = 'Bekasi' OR city = 'Tangerang' OR city = 'Bogor'""")
singapore.style.hide_index()

# Rating

I'll count and decide are those recommended or not in separate files. But before that here is a glimpse of them.

In [89]:
singapore  = sqldf("""SELECT restaurant_name, city, ltrim(google_rating) as google_rating, 
ltrim(platform_rating) as platform_rating, google_count, ltrim(platform_count) as platform_count
FROM singapore
WHERE region = 'DKI Jakarta' OR city = 'Bekasi' OR city = 'Tangerang' OR city = 'Bogor'""")
singapore.style.hide_index()