# Steakhouse Draft Menu List : Local Steakhouse

This project will provide you the most locak steak which are simple and affordable for everyone. In this section I will divide those into two sections, Local and Local Westerned. Including the facility as this project has the most data available, specifically Local Restaurants. 

Local is the section which its prices are below IDR 100k and Local Westerns are between IDR 100k to 200k, all based on overall menu. There are 41 restaurants listed on this project thorough Jakarta.

In [23]:
import pandas as pd
from pandasql import sqldf
steak = pd.read_csv('../input/steakhouse-jakarta/Steakhouse.csv', sep = ";")

In [3]:
steak = sqldf("""SELECT COUNT(specialized) 
                 FROM steak 
                 WHERE specialized = 'Local' OR specialized = 'Local Western'""")
steak.style.hide_index()

# Local

These local restaurants mostly located in Eastern Jakarta with their owned place. The cheapest one is from **Stallo Steak & Spaghetti (Fatmawati)** with their Sirloin Double for IDR 22k, meanwhile the most pricey is from **Meaters Steak & Ribs (Cengkareng)** with their Honey Baby Back Ribs Large for IDR149k-- but no worries, other menu are cheaper than this.

Mostly serving sirloin, tenderloin, rib eye for their choice of meat, then there are so many chicken steak-- mostly fried with batter/starch, even almost all of these restaurant. But sometimes they also deep fried their sirloin/beef steak with batter too. 

**Djakarta's Steak (Tanjung Duren)** serving the most distinct seafood like dory, snapper, marlin, tuna, gindara, and salmon. **Only Meaters Steak and Ribs (Cengkareng)** serving pork dishes, **Kapten and Aya Steak (Sunter)** have their lamb. Don't forget that **Terminal Steak & Cafe (Hayam Wuruk)** provides so many seafood, rice, and chicken menu like a proper family restaurant.

As for the course section, mostly providing pasta appetizer but not sure if the portions are for appetizer or even main course, so many fries and rice menu other than steak, banana and sweet drinks are the most sweet menu available.

In [7]:
steak = sqldf("""SELECT restaurant_name, district, place, unique_menu, price
                 FROM steak
                 WHERE specialized = 'Local'
                 ORDER BY price""")
steak.style.hide_index()

In [9]:
steak = sqldf("""SELECT restaurant_name, district, beef, chicken, seafood, other_poultry
                 FROM steak
                 WHERE specialized = 'Local'""")
steak.style.hide_index()

In [11]:
steak = sqldf("""SELECT restaurant_name, district, appetizer, other_dish, dessert
FROM steak
WHERE specialized = 'Local'""")
steak.style.hide_index()

# Local Facility

Takeaway mostly available but (almost) no delivery options, let alone with outdoor seat and smoking area but **Bara Grill (Cempaka Putih) and Andakar (Pasar Minggu)** has both of them, Terminal Steak & Cafe has their smoking room. No alcohol for local restaurants and wifi are mostly available. Reservation available for some places, **Amano Steakhouse (Gajah Mada) and Industrial Steak & Blend (Kramat Jati)** are kids friendly. **Warung Wagyu (Sunter)** has their own live entertainment.

In [13]:
steak = sqldf("""SELECT restaurant_name, city, district, takeaway, delivery, outdoor, smoking_area, alcohol_served, wifi, 
                        reservation, other
                 FROM steak
                 WHERE specialized = 'Local'""")
steak.style.hide_index()

# Local Westerned

They are mostly located at Central, South, and East Jakarta with their own places. Most expensive one is **Sirloin Wagyu 200gr for IDR 270k (Steak 21 Tanjung Duren)**, meanwhile cheapest one from **Abuba Steak Kelapa Gading** with their New Zealand Sirloin for IDR 97k. 

Choice of beef are standars, except for Holy Ribs and Holy Cow places have their hokubee and wagyu beef in a quite affordable prices. Chicken are mostly being steaked, other with parmigiana or cordon bleu. Only **The Garden (Pantai Indah Kapuk)** is serving pork, others mostly serving seafood and lamb. 

For appetizer, they're serving soup, fries, salad, and pasta, rice and fries are the other options than steak and ice cream, cake, sweet drinks are the most common options for calling a day. **D'Core (Sudirman)** has their es merah delima on list, also **OMG Octav's Meat and Grill (Cibubur)** with their pannacotta.

In [15]:
steak = sqldf("""SELECT restaurant_name, district, place, unique_menu, price
                 FROM steak
                 WHERE specialized = 'Local Westerned'
                 ORDER BY price DESC""")
steak.style.hide_index()

In [17]:
steak = sqldf("""SELECT restaurant_name, district, beef, chicken, seafood, other_poultry
                 FROM steak
                 WHERE specialized = 'Local Westerned'""")
steak.style.hide_index()

In [19]:
steak = sqldf("""SELECT restaurant_name, district, appetizer, other_dish, dessert
                 FROM steak
                 WHERE specialized = 'Local Westerned'""")
steak.style.hide_index()

# Local Westerned Facility

For takeaway, delivery, and outdoor are the same condition with local restaurants, but smoking area are quite available. There are two places serving alcohol which are **Lobby Sky Terrace (Kemang) and Meat Me Cafe & Butchery (Kota)**, almost all of them provide wifi and reservation available for some places. 

**Holycow! Kemang, Abuba Steak Fatmawati, and Parkiran Steak & Bar (Sunter)** has their own valet parking, also about praying room are available at Abuba Steak, **oeryo Cafe & Steak (Pasar Minggu)**, and **Good Friend (Sunter)**. Some places are kids friendly and also made live entertainment available.

In [22]:
steak = sqldf("""SELECT restaurant_name, city, district, takeaway, delivery, outdoor, smoking_area, alcohol_served, wifi, 
                        reservation, other
                 FROM steak
                 WHERE specialized = 'Local Westerned'""")
steak.style.hide_index()