<a href="https://colab.research.google.com/github/miradelimanr/sql-python-portfolio/blob/main/Final%20Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
#importing data
import numpy as np
import pandas as pd

app_test = pd.read_csv('/content/drive/MyDrive/Final Project Dataset (Temp)/application_test.csv')
app_train = pd.read_csv('/content/drive/MyDrive/Final Project Dataset (Temp)/application_train.csv')

In [ ]:
#complete column exploration (after dropping NaN)
print(app_train.value_counts())

SK_ID_CURR  TARGET  NAME_CONTRACT_TYPE  CODE_GENDER  FLAG_OWN_CAR  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  NAME_TYPE_SUITE  NAME_INCOME_TYPE      NAME_EDUCATION_TYPE            NAME_FAMILY_STATUS    NAME_HOUSING_TYPE  REGION_POPULATION_RELATIVE  DAYS_BIRTH  DAYS_EMPLOYED  DAYS_REGISTRATION  DAYS_ID_PUBLISH  OWN_CAR_AGE  FLAG_MOBIL  FLAG_EMP_PHONE  FLAG_WORK_PHONE  FLAG_CONT_MOBILE  FLAG_PHONE  FLAG_EMAIL  OCCUPATION_TYPE        CNT_FAM_MEMBERS  REGION_RATING_CLIENT  REGION_RATING_CLIENT_W_CITY  WEEKDAY_APPR_PROCESS_START  HOUR_APPR_PROCESS_START  REG_REGION_NOT_LIVE_REGION  REG_REGION_NOT_WORK_REGION  LIVE_REGION_NOT_WORK_REGION  REG_CITY_NOT_LIVE_CITY  REG_CITY_NOT_WORK_CITY  LIVE_CITY_NOT_WORK_CITY  ORGANIZATION_TYPE       EXT_SOURCE_1  EXT_SOURCE_2  EXT_SOURCE_3  APARTMENTS_AVG  BASEMENTAREA_AVG  YEARS_BEGINEXPLUATATION_AVG  YEARS_BUILD_AVG  COMMONAREA_AVG  ELEVATORS_AVG  ENTRANCES_AVG  FLOORSMAX_AVG  FLOORSMIN_AVG  LANDAREA_AVG  LIVINGAPARTMENTS_AVG  LIVINGAREA_AVG  NONLIVINGAPARTMENTS_AVG  NONLIVINGAREA_AVG  APARTMENTS_MODE  BASEMENTAREA_MODE  YEARS_BEGINEXPLUATATION_MODE  YEARS_BUILD_MODE  COMMONAREA_MODE  ELEVATORS_MODE  ENTRANCES_MODE  FLOORSMAX_MODE  FLOORSMIN_MODE  LANDAREA_MODE  LIVINGAPARTMENTS_MODE  LIVINGAREA_MODE  NONLIVINGAPARTMENTS_MODE  NONLIVINGAREA_MODE  APARTMENTS_MEDI  BASEMENTAREA_MEDI  YEARS_BEGINEXPLUATATION_MEDI  YEARS_BUILD_MEDI  COMMONAREA_MEDI  ELEVATORS_MEDI  ENTRANCES_MEDI  FLOORSMAX_MEDI  FLOORSMIN_MEDI  LANDAREA_MEDI  LIVINGAPARTMENTS_MEDI  LIVINGAREA_MEDI  NONLIVINGAPARTMENTS_MEDI  NONLIVINGAREA_MEDI  FONDKAPREMONT_MODE     HOUSETYPE_MODE  TOTALAREA_MODE  WALLSMATERIAL_MODE  EMERGENCYSTATE_MODE  OBS_30_CNT_SOCIAL_CIRCLE  DEF_30_CNT_SOCIAL_CIRCLE  OBS_60_CNT_SOCIAL_CIRCLE  DEF_60_CNT_SOCIAL_CIRCLE  DAYS_LAST_PHONE_CHANGE  FLAG_DOCUMENT_2  FLAG_DOCUMENT_3  FLAG_DOCUMENT_4  FLAG_DOCUMENT_5  FLAG_DOCUMENT_6  FLAG_DOCUMENT_7  FLAG_DOCUMENT_8  FLAG_DOCUMENT_9  FLAG_DOCUMENT_10  FLAG_DOCUMENT_11  FLAG_DOCUMENT_12  FLAG_DOCUMENT_13  FLAG_DOCUMENT_14  FLAG_DOCUMENT_15  FLAG_DOCUMENT_16  FLAG_DOCUMENT_17  FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
100083      0       Cash loans          M            Y             Y                0             103500.0          573628.5    24435.0      463500.0         Unaccompanied    Working               Secondary / secondary special  Married               House / apartment  0.009657                    -15406      -892           -341.0             -4176            22.0         1           1               0                1                 0           0           Laborers               2.0              2                     2                            MONDAY                      18                       0                           0                           0                            0                       0                       0                        Business Entity Type 3  0.270766      0.707126      0.597192      0.1464          0.1291            0.9861                       0.8096           0.1080          0.040          0.0345         0.3333         0.3750         0.0000        0.1194                0.0933          0.0000                   0.0000             0.1492           0.1340             0.9861                        0.8171            0.1090           0.0403          0.0345          0.3333          0.3750          0.0000         0.1304                 0.0972           0.0000                    0.0000              0.1478           0.1291             0.9861                        0.8121            0.1087           0.04            0.0345          0.3333          0.3750          0.0000         0.1214                 0.0949           0.0000                    0.0000              reg oper account       block of flats  0.1324          Stone, brick        No                   2.0                       1.0                       2.0                       1.0                       -2053.0                 0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        0.0                        3.0                           1
338907      0       Cash loans          F            Y             Y                2             112500.0          315000.0    21181.5      315000.0         Unaccompanied    Working               Secondary / secondary special  Married               House / apartment  0.015221                    -14714      -2655          -1496.0            -735             7.0          1           1               0                1                 0           0           Medicine staff         4.0              2                     2                            MONDAY                      9                        0                           0                           0                            0                       0                       0                        Medicine                0.376188      0.758812      0.513694      0.0165          0.0000            0.9767                       0.6804           0.0015          0.000          0.0690         0.0417         0.0833         0.0226        0.0134                0.0141          0.0000                   0.0000             0.0168           0.0000             0.9767                        0.6929            0.0016           0.0000          0.0690          0.0417          0.0833          0.0231         0.0147                 0.0147           0.0000                    0.0000              0.0167           0.0000             0.9767                        0.6847            0.0015           0.00            0.0690          0.0417          0.0833          0.0230         0.0137                 0.0144           0.0000                    0.0000              reg oper account       block of flats  0.0111          Stone, brick        No                   0.0                       0.0                       0.0                       0.0                       -1669.0                 0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        0.0                        2.0                           1
339703      0       Cash loans          M            Y             N                0             270000.0          1507869.0   49135.5      1377000.0        Unaccompanied    Working               Higher education               Single / not married  House / apartment  0.008474                    -15022      -7547          -3408.0            -2365            3.0          1           1               0                1                 1           0           High skill tech staff  1.0              2                     2                            TUESDAY                     11                       0                           0                           0                            0                       0                       0                        Industry: type 5        0.621705      0.460178      0.283712      0.0768          0.0321            0.9916                       0.8776           0.0286          0.030          0.1207         0.2292         0.2917         0.0374        0.0779                0.0807          0.0000                   0.0000             0.0210           0.0000             0.9866                        0.8236            0.0134           0.0000          0.0345          0.1667          0.2083          0.0000         0.0698                 0.0215           0.0000                    0.0000              0.0822           0.0320             0.9906                        0.8457            0.0194           0.00            0.1207          0.1875          0.2500          0.0351         0.0701                 0.0858           0.0000                    0.0000              reg oper account       block of flats  0.0220          Panel               No                   4.0                       0.0                       4.0                       0.0                       -702.0                  0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 1                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        0.0                        2.0                           1
339654      0       Cash loans          M            Y             Y                1             306000.0          454500.0    46570.5      454500.0         Unaccompanied    State servant         Higher education               Single / not married  House / apartment  0.014464                    -12149      -4290          -752.0             -4700            16.0         1           1               1                1                 0           0           Laborers               2.0              2                     2                            FRIDAY                      2                        0                           0                           0                            0                       0                       0                        Transport: type 4       0.318788      0.695210      0.253963      0.0825          0.0796            0.9786                       0.7076           0.1012          0.000          0.1379         0.1667         0.2083         0.0590        0.0672                0.0703          0.0000                   0.0000             0.0840           0.0826             0.9786                        0.7190            0.1021           0.0000          0.1379          0.1667          0.2083          0.0603         0.0735                 0.0733           0.0000                    0.0000              0.0833           0.0796             0.9786                        0.7115            0.1018           0.00            0.1379          0.1667          0.2083          0.0600         0.0684                 0.0716           0.0000                    0.0000              reg oper account       block of flats  0.0553          Panel               No                   0.0                       0.0                       0.0                       0.0                       -900.0                  0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        0.0                        0.0                           1
339582      0       Cash loans          F            Y             Y                0             225000.0          1223010.0   48631.5      1125000.0        Unaccompanied    Commercial associate  Secondary / secondary special  Married               House / apartment  0.025164                    -18562      -2180          -6366.0            -2097            6.0          1           1               0                1                 0           0           Cooking staff          2.0              2                     2                            SATURDAY                    11                       0                           0                           0                            0                       0                       0                        Business Entity Type 3  0.400783      0.428041      0.492060      0.2876          0.1062            0.9866                       0.8164           0.0924          0.280          0.2414         0.3750         0.4167         0.0450        0.2328                0.2454          0.0077                   0.1477             0.2931           0.1102             0.9866                        0.8236            0.0933           0.2820          0.2414          0.3750          0.4167          0.0460         0.2544                 0.2557           0.0078                    0.1563              0.2904           0.1062             0.9866                        0.8189            0.0930           0.28            0.2414          0.3750          0.4167          0.0458         0.2369                 0.2498           0.0078                    0.1508              reg oper spec account  block of flats  0.2756          Panel               No                   0.0                       0.0                       0.0                       0.0                       -1961.0                 0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        0.0                        0.0                           1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ..
218453      0       Cash loans          F            Y             N                2             225000.0          1078200.0   28570.5      900000.0         Unaccompanied    Commercial associate  Higher education               Married               House / apartment  0.046220                    -11907      -971           -5692.0            -288             2.0          1           1               0                1                 1           0           Sales staff            4.0              1                     1                            WEDNESDAY                   13                       0                           0                           0                            0                       0                       0                        Business Entity Type 3  0.526303      0.651932      0.415347      0.0862          0.0631            0.9786                       0.7076           0.0332          0.016          0.1517         0.2333         0.2750         0.0466        0.0699                0.0689          0.0015                   0.0043             0.0567           0.0221             0.9782                        0.7125            0.0226           0.0000          0.0345          0.1667          0.2083          0.0226         0.0496                 0.0401           0.0000                    0.0000              0.0833           0.0601             0.9786                        0.7115            0.0277           0.00            0.2069          0.1667          0.2083          0.0374         0.0684                 0.0585           0.0000                    0.0000              reg oper account       block of flats  0.0489          Stone, brick        No                   2.0                       0.0                       2.0                       0.0                       -2.0                    0                1                0                0                0                0                0                0                0                 0                 0                 1                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        1.0                        4.0                           1

In [ ]:
print(app_test.value_counts())

SK_ID_CURR  NAME_CONTRACT_TYPE  CODE_GENDER  FLAG_OWN_CAR  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  NAME_TYPE_SUITE  NAME_INCOME_TYPE      NAME_EDUCATION_TYPE            NAME_FAMILY_STATUS    NAME_HOUSING_TYPE  REGION_POPULATION_RELATIVE  DAYS_BIRTH  DAYS_EMPLOYED  DAYS_REGISTRATION  DAYS_ID_PUBLISH  OWN_CAR_AGE  FLAG_MOBIL  FLAG_EMP_PHONE  FLAG_WORK_PHONE  FLAG_CONT_MOBILE  FLAG_PHONE  FLAG_EMAIL  OCCUPATION_TYPE  CNT_FAM_MEMBERS  REGION_RATING_CLIENT  REGION_RATING_CLIENT_W_CITY  WEEKDAY_APPR_PROCESS_START  HOUR_APPR_PROCESS_START  REG_REGION_NOT_LIVE_REGION  REG_REGION_NOT_WORK_REGION  LIVE_REGION_NOT_WORK_REGION  REG_CITY_NOT_LIVE_CITY  REG_CITY_NOT_WORK_CITY  LIVE_CITY_NOT_WORK_CITY  ORGANIZATION_TYPE       EXT_SOURCE_1  EXT_SOURCE_2  EXT_SOURCE_3  APARTMENTS_AVG  BASEMENTAREA_AVG  YEARS_BEGINEXPLUATATION_AVG  YEARS_BUILD_AVG  COMMONAREA_AVG  ELEVATORS_AVG  ENTRANCES_AVG  FLOORSMAX_AVG  FLOORSMIN_AVG  LANDAREA_AVG  LIVINGAPARTMENTS_AVG  LIVINGAREA_AVG  NONLIVINGAPARTMENTS_AVG  NONLIVINGAREA_AVG  APARTMENTS_MODE  BASEMENTAREA_MODE  YEARS_BEGINEXPLUATATION_MODE  YEARS_BUILD_MODE  COMMONAREA_MODE  ELEVATORS_MODE  ENTRANCES_MODE  FLOORSMAX_MODE  FLOORSMIN_MODE  LANDAREA_MODE  LIVINGAPARTMENTS_MODE  LIVINGAREA_MODE  NONLIVINGAPARTMENTS_MODE  NONLIVINGAREA_MODE  APARTMENTS_MEDI  BASEMENTAREA_MEDI  YEARS_BEGINEXPLUATATION_MEDI  YEARS_BUILD_MEDI  COMMONAREA_MEDI  ELEVATORS_MEDI  ENTRANCES_MEDI  FLOORSMAX_MEDI  FLOORSMIN_MEDI  LANDAREA_MEDI  LIVINGAPARTMENTS_MEDI  LIVINGAREA_MEDI  NONLIVINGAPARTMENTS_MEDI  NONLIVINGAREA_MEDI  FONDKAPREMONT_MODE     HOUSETYPE_MODE  TOTALAREA_MODE  WALLSMATERIAL_MODE  EMERGENCYSTATE_MODE  OBS_30_CNT_SOCIAL_CIRCLE  DEF_30_CNT_SOCIAL_CIRCLE  OBS_60_CNT_SOCIAL_CIRCLE  DEF_60_CNT_SOCIAL_CIRCLE  DAYS_LAST_PHONE_CHANGE  FLAG_DOCUMENT_2  FLAG_DOCUMENT_3  FLAG_DOCUMENT_4  FLAG_DOCUMENT_5  FLAG_DOCUMENT_6  FLAG_DOCUMENT_7  FLAG_DOCUMENT_8  FLAG_DOCUMENT_9  FLAG_DOCUMENT_10  FLAG_DOCUMENT_11  FLAG_DOCUMENT_12  FLAG_DOCUMENT_13  FLAG_DOCUMENT_14  FLAG_DOCUMENT_15  FLAG_DOCUMENT_16  FLAG_DOCUMENT_17  FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
100107      Cash loans          M            Y             Y                0             180000.0          296280.0    21690.0      225000.0         Unaccompanied    Working               Secondary / secondary special  Civil marriage        House / apartment  0.032561                    -13563      -1007          -5719.0            -4044            14.0         1           1               0                1                 0           1           Laborers         2.0              1                     1                            TUESDAY                     15                       0                           0                           0                            0                       0                       0                        Business Entity Type 3  0.344165      0.684407      0.263647      0.0371          0.0361            0.9513                       0.3336           0.0132          0.00           0.1379         0.1250         0.1667         0.0320        0.0286                0.0613          0.0077                   0.0007             0.0378           0.0375             0.9513                        0.3597            0.0134           0.0000          0.1379          0.1250          0.1667          0.0327         0.0312                 0.0639           0.0078                    0.0008              0.0375           0.0361             0.9513                        0.3425            0.0133           0.00            0.1379          0.1250          0.1667          0.0326         0.0291                 0.0624           0.0078                    0.0007              reg oper account       block of flats  0.0484          Stone, brick        No                   2.0                       0.0                       2.0                       0.0                       -317.0                  0                0                0                0                0                0                1                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        1.0                        3.0                           1
335779      Cash loans          M            Y             N                1             225000.0          790830.0    57676.5      675000.0         Unaccompanied    Working               Secondary / secondary special  Married               House / apartment  0.006629                    -18272      -4605          -5196.0            -1715            3.0          1           1               1                1                 1           0           Laborers         3.0              2                     2                            THURSDAY                    10                       0                           0                           0                            0                       0                       0                        Industry: type 9        0.626088      0.180034      0.792264      0.0124          0.0000            0.9826                       0.7620           0.0221          0.00           0.0948         0.0417         0.0417         0.0367        0.0101                0.0136          0.0000                   0.0066             0.0126           0.0000             0.9826                        0.7713            0.0160           0.0000          0.1034          0.0417          0.0417          0.0351         0.0110                 0.0102           0.0000                    0.0047              0.0125           0.0000             0.9826                        0.7652            0.0243           0.00            0.1034          0.0417          0.0417          0.0365         0.0103                 0.0150           0.0000                    0.0073              not specified          block of flats  0.0087          Wooden              No                   0.0                       0.0                       0.0                       0.0                       -1578.0                 0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        1.0                        1.0                           1
338250      Cash loans          M            Y             Y                0             405000.0          1063138.5   54414.0      873000.0         Unaccompanied    Commercial associate  Secondary / secondary special  Married               House / apartment  0.072508                    -20268      -1155          -6979.0            -3045            14.0         1           1               0                1                 1           0           Security staff   2.0              1                     1                            TUESDAY                     14                       0                           0                           0                            0                       0                       0                        Security                0.579165      0.694723      0.524496      0.0701          0.1078            0.9727                       0.6260           0.0074          0.00           0.1217         0.1667         0.0158         0.0061        0.0572                0.0581          0.0015                   0.0036             0.0630           0.1122             0.9732                        0.6472            0.0000           0.0000          0.1379          0.1667          0.0000          0.0000         0.0551                 0.0507           0.0000                    0.0034              0.0625           0.1081             0.9732                        0.6377            0.0083           0.00            0.1379          0.1667          0.0000          0.0000         0.0513                 0.0519           0.0000                    0.0033              reg oper account       block of flats  0.0547          Stone, brick        No                   1.0                       0.0                       1.0                       0.0                       -1740.0                 0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        0.0                        5.0                           1
337864      Cash loans          M            Y             Y                1             112500.0          301896.0    23490.0      252000.0         Unaccompanied    Working               Secondary / secondary special  Married               House / apartment  0.018634                    -10197      -900           -8512.0            -2738            8.0          1           1               0                1                 0           0           Laborers         3.0              2                     2                            WEDNESDAY                   11                       0                           0                           0                            0                       0                       0                        Business Entity Type 3  0.498308      0.355406      0.673830      0.0825          0.0804            0.9767                       0.6804           0.0403          0.00           0.1379         0.1667         0.2083         0.0418        0.0672                0.0703          0.0000                   0.0000             0.0840           0.0834             0.9767                        0.6929            0.0407           0.0000          0.1379          0.1667          0.2083          0.0428         0.0735                 0.0732           0.0000                    0.0000              0.0833           0.0804             0.9767                        0.6847            0.0406           0.00            0.1379          0.1667          0.2083          0.0425         0.0684                 0.0716           0.0000                    0.0000              reg oper account       block of flats  0.0740          Panel               No                   0.0                       0.0                       0.0                       0.0                       -81.0                   0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        0.0                        5.0                           1
337746      Cash loans          M            Y             Y                0             220500.0          157500.0    16137.0      157500.0         Unaccompanied    Commercial associate  Secondary / secondary special  Married               House / apartment  0.031329                    -19661      -478           -5110.0            -3209            9.0          1           1               1                1                 1           0           Sales staff      2.0              2                     2                            MONDAY                      18                       0                           0                           0                            0                       0                       0                        Business Entity Type 3  0.722564      0.642295      0.643026      0.1376          0.0320            0.9891                       0.8232           0.0291          0.14           0.1207         0.3542         0.3750         0.0424        0.0908                0.1470          0.0000                   0.0000             0.1134           0.0000             0.9871                        0.8301            0.0293           0.1208          0.1034          0.3333          0.3750          0.0219         0.0992                 0.1238           0.0000                    0.0000              0.1390           0.0320             0.9891                        0.8256            0.0293           0.14            0.1207          0.3542          0.3750          0.0431         0.0923                 0.1496           0.0000                    0.0000              reg oper spec account  block of flats  0.0934          Stone, brick        No                   0.0                       0.0                       0.0                       0.0                       -2314.0                 0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        0.0                        2.0                           1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ..
211296      Cash loans          M            Y             Y                1             225000.0          537471.0    56569.5      495000.0         Unaccompanied    Working               Secondary / secondary special  Married               House / apartment  0.031329                    -13516      -802           -773.0             -4590            8.0          1           1               0                1                 0           0           Drivers          3.0              2                     2                            FRIDAY                      13                       0                           0                           0                            0                       0                       0                        Self-employed           0.309470      0.495164      0.461482      0.1381          0.0116            0.9767                       0.6804           0.0207          0.00           0.0690         0.1667         0.2083         0.0072        0.0815                0.0274          0.1429                   0.0040             0.1408           0.0120             0.9767                        0.6929            0.0209           0.0000          0.0690          0.1667          0.2083          0.0074         0.0891                 0.0286           0.1440                    0.0042              0.1395           0.0116             0.9767                        0.6847            0.0208           0.00            0.0690          0.1667          0.2083          0.0073         0.0829                 0.0279           0.1436                    0.0041              reg oper account       block of flats  0.0224          Stone, brick        No                   1.0                       0.0                       1.0                       0.0                       -678.0                  0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        0.0                        1.0                           1

In [ ]:
#related sorting
app_test_1 = app_test [['AMT_CREDIT', 'AMT_ANNUITY', 'NAME_TYPE_SUITE','NAME_INCOME_TYPE', 'OCCUPATION_TYPE', 'FLAG_CONT_MOBILE']]

#private service staff specific
def loans_credit():
  app_test_2 = app_test_1[(app_test['OCCUPATION_TYPE'] == 'Private service staff')]
  return app_test_2

loans_credit()

,AMT_CREDIT,AMT_ANNUITY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,OCCUPATION_TYPE,FLAG_CONT_MOBILE
84,735579.0,32400.0,Family,Working,Private service staff,1
164,270000.0,17253.0,Unaccompanied,Working,Private service staff,1
218,550980.0,30897.0,Unaccompanied,Working,Private service staff,1
561,495000.0,31635.0,NaN,Working,Private service staff,1
610,225000.0,17905.5,"Spouse, partner",Working,Private service staff,1
...,...,...,...,...,...,...
48290,450000.0,30073.5,Unaccompanied,Working,Private service staff,1
48309,675000.0,45108.0,Unaccompanied,Working,Private service staff,1
48389,225000.0,11488.5,Unaccompanied,Working,Private service staff,1
48494,248760.0,26118.0,Unaccompanied,Commercial associate,Private service staff,1
48647,225000.0,17775.0,Unaccompanied,Working,Private service staff,1

In [ ]:
#data preprocessing

#dropping NaN
app_train['OCCUPATION_TYPE'].dropna(inplace=True)
app_test['OCCUPATION_TYPE'].dropna(inplace=True)

#normalize the scale
from sklearn.preprocessing import MinMaxScaler
X_train = app_train[['AMT_CREDIT', 'AMT_ANNUITY']]
X_test = app_test[['AMT_CREDIT', 'AMT_ANNUITY']]
norm = MinMaxScaler().fit(X_train)
X_train_norm = norm.transform(X_train)
X_test = norm.transform(X_test)
print(X_train_norm)

[[0.13199213 0.09932303]
 [0.05386404 0.06498939]
 [0.15730337 0.22907952]
 ...
 [0.16640562 0.20367788]
 [0.05617978 0.05729009]
 [0.11374944 0.14663029]]

In [2]:
X_train = app_train[['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE']].fillna(0)
y_train = app_train['SK_ID_CURR']
X_test = app_test[['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE']].fillna(0)
y_test = app_test['SK_ID_CURR']

from imblearn.under_sampling import RandomUnderSampler
un_sample = RandomUnderSampler(random_state=0)
X_under, y_under = un_sample.fit_resample(X_train, y_train)

In [ ]:
X_train = app_train[['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE']].fillna(0)
y_train = app_train['SK_ID_CURR']
X_test = app_test[['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE']].fillna(0)
y_test = app_test['SK_ID_CURR']

from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(random_state=16, solver='lbfgs', class_weight='balanced', max_iter=10000, dual=False)
logreg.fit(X_train, y_train)
predictions = logreg.predict(X_test)
print(predictions.summary2())

In [4]:
X_train = app_train[['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE']].fillna(0)
y_train = app_train['SK_ID_CURR']
X_test = app_test[['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE']].fillna(0)
y_test = app_test['SK_ID_CURR']

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(X_train, y_train)
preds = forest_model.predict(X_train)
preds

array([183795.32      , 255738.95656349, 274409.07575379, ...,
       402807.23083333, 383074.44      , 269295.89616089])

In [3]:
X_train = app_train[['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE']].fillna(0)
y_train = app_train['SK_ID_CURR']
X_test = app_test[['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE']].fillna(0)
y_test = app_test['SK_ID_CURR']

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(X_train, y_train)
preds = forest_model.predict(X_train)
print(mean_absolute_error(y_train, preds))

60792.02883012618