# Singaporean Food in Indonesia Phrase II : Jawa and Bali Area

For this notebook I'll show you list of Singaporean restaurant in Jawa (Bandung, Semarang, Sleman, Surabaya, Malang, Batu) and Bali Area (Badung, Denpasar). Here is the list curated from Google Maps and various platform website. This time I'll be using Pergi Kuliner, Traveloka Eats, Tripadvisor, and Restaurant Guru.

Originally there are 101 restaurants selected all around Indonesia, which 38 of them are located in this area. Note that the list here is not always the authentic one. There are coffee shop named Kopitiam and Chinese restaurant which has Singaporean food but never claimed themselves as Singaporean restaurant. At least they got kaya toast, hainanse rice, laksa, chili crab and etc, will explain more on menu.

# Content
* Overview
* Menu
* Facility
* Rating

In [14]:
from pandasql import sqldf
import pandas as pd
singapore = pd.read_csv("../input/singapore-food/singapore_id.csv", sep = ";")

# Overview

Here is complete list of restaurants sorted by region and city, there are also their unique menu, price, and ratings. Price range are between 20k until 60k per menu and ratings are quite high here!

In [2]:
singapore = sqldf("""SELECT no, restaurant_name, region, city, unique_menu, price, 
ltrim(google_rating) as google_rating, ltrim(platform_rating) as platform_rating 
FROM singapore 
WHERE city = 'Bandung' OR region = 'Central Java' OR region = 'DI Yogyakarta' OR region = 'East Java' OR region = 'Bali'""")
singapore.style.hide_index()

# Menu

Singapore is famous for their Laksa as also most mentioned here in this list. Besides, they are also famous for their toast-- kaya toast especially, and hainanse rice. Their noodles are their most mainstream here as their food is kind of fusion with Chinese cuisine, like mee goreng, wonton noodle, and kway teow. Curry noodle and bakuteh are underrated but that's the real signature here. Not to mention their seafood is also well known-- chili crab for example.

I'll divide those menu on three category, which is Rice & Noodle Menu, Poultry Menu, and Toast & Snack Menu.

**Rice & Noodle**

Here is their rice and noodle menu. For the rice they mostly have hainanse rice, fried rice, and nasi lemak. Plate rice is rice with side dish on a plate-- it could be anything. They also have porridge as well. For noodle they mostly have laksa, mee goreng, curry noodle, and wonton noodle. There are also mee shua, mee siam, ifumie (crispy noodle), chop noodle, hokkien mee, and noodle soup. Only **Roti John Singapore (Malang), Tasty Singapore Kitchen (Sleman),** and **PAW Nasi Hainam (Denpasar)** don't have any noodle menu. This represented by the city so you need to check issue for complete list on csv. 

For disambiguation, mee is mie/noodle, fried rice is nasi goreng, kway teow is kwetiaw, beehoon is bihun, and hainanse rice is nasi hainam. Bakmi ayam is quite similar with wonton noodle but it's different after all.

In [5]:
singapore  = sqldf("""SELECT restaurant_name, city, rice_menu, noodle, noodle_specific
FROM singapore
WHERE city = 'Bandung' OR region = 'Central Java' OR region = 'DI Yogyakarta' OR region = 'East Java' OR region = 'Bali'
GROUP BY city""")
singapore.style.hide_index()

**Poutry Menu**

Here is all the meat menu, mostly chicken. I wrote the cooking method and sauce for chicken, mostly fried and the sauce is mainly dominated by sweet sour and kungpao. Kolokee sauce is also available here.

The seafood are usually provided both on high end or budgeted restaurant like kopitiam. Mostly crab, prawn, and fish. There are several places which serving beef, pigeon, pork and duck menu. For plant based they also have tofu and vegatables menu. Output labeled 'yes' means that they have those menu but just as a topping/out of the menu, except pork which served by **Xin Yi Bakuteh (Semarang)** and **Cacayo Pakuwon Mall (Surabaya)**.

In [7]:
singapore  = sqldf("""SELECT restaurant_name, city, chicken, seafood, poultry_other
FROM singapore
WHERE city = 'Bandung' OR region = 'Central Java' OR region = 'DI Yogyakarta' OR region = 'East Java' OR region = 'Bali'
GROUP BY city""")
singapore.style.hide_index()

**Toast & Snack Menu**

Toast is also one of Singaporean delicacy --for exact is kaya which most mentioned here. The other popular toast menu are peanut, butter, chocolate, and cheese.

Snack dish is the other light menu (could be appetizer as well) on the list available. There are dumplings, spring roll, dimsum (shumai, hakau, mantau, cakwe etc), banana fritter, fries (french fries, cassava) and many more. **PAW Nasi Hainam Cabang B8 (Denpasar)** has curry puff and Shuang Xi Bali Canggu (Badung) has their chocolate puff. **Sagoo Kitchen and Kopi Lay (Bandung)** has the most completed toasts menu.

In this section, toast and snack are listed separately.

In [9]:
singapore  = sqldf("""SELECT restaurant_name, city, toast
FROM singapore
WHERE (city = 'Bandung' OR region = 'Central Java' OR region = 'DI Yogyakarta' OR region = 'East Java' OR region = 'Bali') AND (toast NOT LIKE '%no')""")
singapore.style.hide_index()

In [11]:
singapore  = sqldf("""SELECT restaurant_name, city, snack_dish
FROM singapore
WHERE (city = 'Bandung' OR region = 'Central Java' OR region = 'DI Yogyakarta' OR region = 'East Java' OR region = 'Bali') 
AND (snack_dish NOT LIKE '%no')""")
singapore.style.hide_index()

# Facility

All restaurant providing takeaway options but only half of them providing delivery options. Most of them has outdoor seat but smoking area are minimum, note that outdoor seat could also be a smoking area. There are six vendors serving alcohol like beer or wine. Wifi is rarely available here. Grouped by the city.

In [13]:
singapore  = sqldf("""SELECT restaurant_name, city,restaurant_name, city, takeaway, delivery, outdoor_seat, smoking_area, alcohol_served, wifi
FROM singapore
WHERE city = 'Bandung' OR region = 'Central Java' OR region = 'DI Yogyakarta' OR region = 'East Java' OR region = 'Bali'
GROUP BY city""")
singapore.style.hide_index()

# Rating

These ratings are ordered by highest total rating, should they have more than 3.5 then the restaurant is worth to try. All the facility and menu are representated by all both google and platform rating and count, so in the meantime only ratings are counted here. Based on the results, **Shuang Xi Canggu, Little Singapore, and Dapur Panda** are the top 3 and all in Badung city of Bali.

Based on the area, **Merlion Singapore Mee Mall Olympic Garden (Malang)** is scored high (4,8) eventhough judging from the place they're not really that proper as they are in foodcort area. In Surabaya there is **Xiang Jia Kopitiam Gwalk** which the best among area (scored 4,70). Highest rating available in Semarang is **Wee Nam Kee** (score 4.25) as well as **Xin Yi Bakuteh** in Bandung (scored 4.2). **Tasty Singapore Kitchen** is the only one Singaporean restaurant in Yogyakarta area (scored 4.75)

Bali region has **Shuang Xi Bali Canggu** as representative as well as in Badung (scored 5), for Denpasar they have **PAW Nasi Hainam Cabang B8** for the highest rating in area (scored 4,7).

NA labeled here are the restaurant who doesn't have another ratings besides of google/platform ratings.

In [15]:
singapore = sqldf("""SELECT restaurant_name, city, ltrim(google_rating) as google_rating, 
ltrim(platform_rating) as platform_rating, ltrim((google_rating + platform_rating)/2) as total_rating,
CASE
    WHEN (google_rating + platform_rating)/2 >= 3.5 THEN "Recommended"
    ELSE "Reconsider"
END AS "Recommendation"
FROM singapore WHERE city = 'Bandung' OR region = 'Central Java' OR region = 'DI Yogyakarta' OR region = 'East Java' OR region = 'Bali'
ORDER BY total_rating DESC;""")
singapore.style.hide_index()